.logo-container{
    display: grid;
    align-items: middle; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -1.5%;
}


ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: inherit;
    height: 0px;
}

li {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 50px;
    text-align: center;
    margin: 0 120px;
    color: white ;
}

.header-logos img {
    width: 20px;
}

.profile-info{
    display: flex;
    flex-wrap: nowrap;
    height: 59vh;
    padding: 0 40px;
    margin: 0%;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.profile-info > profile-pic {
    width: 40%
    
}


.profile-info > profile-details {
    width: 80%
}

.profile-pic{
    display: flex;
    align-items: center;
    justify-content: right;
    width: 40%;
    flex-wrap: nowrap;
    flex-direction: column;
    
}

.profile-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 25px;
    color: white;
    width: 80%;
}

.profile-details h1{
    margin: 0%;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
}
.profile-details h2{
    margin-top: 0%;
    margin-bottom: -0.5%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
}
.profile-details h3{
    margin-top: 0%;
    margin-bottom: -0.8%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}
.profile-details h4{
    margin-top: 1%;
    margin-bottom: -0.5%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: 10;
    font-size: 18px;
    line-height: 15px;
}
.profile-details h5{
    margin: 2%;
}

.profile-details h6{
    margin-top: 1%;
    margin-bottom: -0.5%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 15px;
}
.profile-details h7{
    margin-top: 1%;
    margin-bottom: -0.8%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 15px;
}
.profile-details h8{
    margin-top: 1.5%;
    margin-bottom: -0.5%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 15px;
}

.year {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    width: 40%;
    align-items: center;
}

.affiliation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 25px;
    color: white;
    width: 80%;
}

.attainment{
    display: flex;
    flex-wrap: nowrap;
    height: 59vh;
    padding: 0 40px;
    margin: 0%;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.attainment > year {
    width: 25%
    
}


.profile-info > affiliation {
    width: 50%
}

.affiliation h1, .affiliation h2, .affiliation h3, .affiliation h4, .affiliation h5  {
    margin: 0%;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 58px;
}

.year h1, .year h2, .year h3, .year h4, .year h5  {
    margin: 0%;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 58px;
}