.Porfolio-info h1{
    background-color: red;
    color: blue;


}

html {
    background: linear-gradient(-60deg, #23e2cb 30%, black 30%), transparent 0;
    background-repeat:no-repeat;
    min-height: 100%;
    min-width: 1024px;
  
    width: 100%;
    height: auto;
  }