.logo-container{
    display: grid;
    align-items: middle; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -1.5%;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: inherit;
    height: 0px;
}

li {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 50px;
    text-align: center;
    margin: 0 120px;
    color: white ;
}

.header-logos img {
    width: 20px;
}



/* SECTION 1 - INFORMATION */
.profile-info{
    display: flex;
    flex-wrap: nowrap;
    height: 59vh;
    padding: 0 40px;
    margin: 0%;
    align-items: center;
    justify-content: center;
    padding: 10px;
    /* border: 15px solid green */
}
.profile-info > profile-pic {
    width: 40%
    
}
.profile-info > profile-details {
    width: 80%
}
.profile-pic{
    display: flex;
    align-items: center;
    justify-content: right;
    width: 40%;
    flex-wrap: nowrap;
    flex-direction: column;
    border: 1px solid green
    
    
}
.profile-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 25px;
    color: white;
    width: 80%;
}
.profile-details h1{
    margin: 0%;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    text-shadow: 0px 4px 4px rgba(238, 255, 0, 0.26);
}
.profile-details h2{
    margin-top: 0%;
    margin-bottom: -0.5%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
}
.profile-details h3{
    margin-top: 0%;
    margin-bottom: -0.8%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}
.profile-details h4{
    margin-top: 1%;
    margin-bottom: -0.5%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: 10;
    font-size: 18px;
    line-height: 15px;
}
.profile-details h5{
    margin: 2%;
}
.profile-details h6{
    margin-top: 1%;
    margin-bottom: -0.5%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 15px;
}
.profile-details h7{
    margin-top: 1%;
    margin-bottom: -0.8%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 15px;
}
.profile-details h8{
    margin-top: 1.5%;
    margin-bottom: -0.5%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 15px;
}

/* AFFILIATION PAGE */
.header-affi{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0%;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-style: bold;
    text-shadow: 0px 4px 4px rgba(238, 255, 0, 0.26);
    font-weight: 800;
    font-size: 20px;

}
.glow .header-affi{
    font-size: 80px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
.year {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    width: 40%;
    align-items: center;
}
.affiliation{
    display: flex;
    padding: 0 25px;
    color: white;
    width: 80%;
    height: 80%;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: column;
}
.attainment{
    display: flex;
    flex-wrap: nowrap;
    height: 59vh;
    padding: 0 40px;
    margin: 0%;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.attainment > year {
    width: 25%
}
.profile-info > affiliation {
    width: 50%
}
.affiliation h1 {
    margin-top: 3%;
    margin-bottom: 0%;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 0px;
}
.affiliation h2{
    margin-top: 2%;
    margin-bottom: -1%;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 0px;
}
.affiliation h3{
    margin-top: 2.0%;
    margin-bottom: -1%;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 0px;
}
.affiliation h4{
    margin-top: 2%;
    margin-bottom: -1%;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 0px;
}
.affiliation h5{
    margin-top: 2%;
    margin-bottom: -1%;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 0px;
}
.affiliation p1{
    margin-top: -1%;
    margin-bottom: -1%;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 100;
    font-size: 13px;
    line-height: 58px;
}
.affiliation p2{
    margin-top: 0%;
    margin-bottom: -1%;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 100;
    font-size: 13px;
    line-height: 58px;
}
.affiliation p3{
    margin-top: 0%;
    margin-bottom: -1%;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 100;
    font-size: 13px;
    line-height: 58px;
}
.affiliation p4{
    margin-top: 0%;
    margin-bottom: -1%;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 100;
    font-size: 13px;
    line-height: 58px;
}
.affiliation p5{
    margin-top: 0%;
    margin-bottom: -1%;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 100;
    font-size: 13px;
    line-height: 58px;
}
.year h1, .year h2, .year h3, .year h4, .year h5  {
    margin: 0%;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 58px;
}


/* SCHOOL YEAR ATTAINMENT */
.school-background{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0%;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-style: bold;
    text-shadow: 0px 4px 4px rgba(238, 255, 0, 0.26);
    font-weight: 800;
    font-size: 20px;
}
.Experiences{
    display: flex;
    flex-wrap: nowrap;
    height: 59vh;
    padding: 0 40px;
    margin: 0%;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.Experiences > school-year {
    width: 25%
}
.Experiences > school-attainment {
    width: 50%
}
.school-year {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    width: 40%;
    align-items: center;
}
.school-attainment{
    display: flex;
    padding: 0 25px;
    color: white;
    width: 80%;
    height: 80%;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: column;
}
.school-attainment h1 {
    margin-top: 3%;
    margin-bottom: 0%;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 0px;
}
.school-attainment h2{
    margin-top: 2%;
    margin-bottom: 0%;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 0px;
}
.school-attainment h3{
    margin-top: 2.0%;
    margin-bottom: 0%;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 0px;
}
.school-attainment h4{
    margin-top: 2%;
    margin-bottom: 0%;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 0px;
}
.school-attainment h5{
    margin-top: 2%;
    margin-bottom: 0%;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 0px;
}
.school-year h1, .school-year h2, .school-year h3, .school-year h4, .school-year h5  {
    margin: 0%;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 58px;
}
.school-attainment p1{
    margin-top: -1%;
    margin-bottom: -1%;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 100;
    font-size: 13px;
    line-height: 58px;
}
.school-attainment p2{
    margin-top: 0%;
    margin-bottom: -1%;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 100;
    font-size: 13px;
    line-height: 58px;
}
.school-attainment p3{
    margin-top: 0%;
    margin-bottom: -1%;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 100;
    font-size: 13px;
    line-height: 58px;
}
.school-attainment p4{
    margin-top: 0%;
    margin-bottom: -1%;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 100;
    font-size: 13px;
    line-height: 58px;
}
.school-attainment p5{
    margin-top: 0%;
    margin-bottom: -1%;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 100;
    font-size: 13px;
    line-height: 58px;
}

/* FOOTER */
/* .footer{
    position: absolute;
    margin: 60px 0 0;
    right: 0;
    left: 0;
    bottom: 0;
    color: white;
} */


